/* Fonts
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

@font-face {
    font-family: Nexa-light;
    src: url('../fonts/nexa-light.otf');
}


@font-face {
    font-family: Nexa-bold;
    src: url('../fonts/nexa-bold.otf');
}
