/* Theme Style
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“
- Body
- Content
- Logo
- Button
- Social Media
- Modal
- Overlay
- Particles
- Form



/* Body
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: Nexa-light;
    height: 100%;
    overflow: auto;
}

body.light {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Content
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 35px 0 50px 0;
    box-sizing: border-box;
    transition: top .5s;
    top: 0;
}

content {
    position: relative;
    width: 360px;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.title {
    font-size: 24px;
    letter-spacing: .3em;
    margin-top: 60px;
    margin-bottom: 0;
    font-family: Nexa-bold;
    text-transform: uppercase;
    font-weight: bold;
    color: #f6b60b !important;
}

.description {
    font-size: 14px;
    font-family: Nexa-light;
    letter-spacing: .1em;
    /* margin-top: 32px; */
    margin-bottom: 0;
}

.dark .title, .dark .description {
    color: #ffffff;
}

.light .title, .light .description {
    color: #fff;
}

.space {
    margin-top: 90px;
}

@media (min-height: 320px) {
    .wrapper{
        min-height: 100%;
        padding-top: 20%;
        align-items: unset;
    }
    content{
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 480px) {
    content {
        width: 480px;
    }
    .title {
        font-size: 22px;
        margin-top: 10%;
        letter-spacing: .2em;
    }
    .description {
        /* margin-top: 70px; */
        font-size: 18px;
    }
    .notify {
        margin-top: 4%;
    }
}

@media (min-width: 768px) {

    .wrapper{
        min-height: 100vh;
        align-items: center;
        padding: 35px 0 50px 0;
    }

    content {
        width: 50%;
        padding: 5% 0 10%;
    }
    .title {
        font-size: 20px;
        margin-top: 10%;
    }
    .description {
        /* margin-top: 70px    ; */
        font-size: 24px;
    }
    .notify {
        margin-top: 4%;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Logo
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.logo {
    width: 65px;
    height: 60px;
}


@media (max-width: 480px) {
    .logo{
        height: 40px;
        width: 40px;
    }
    .notify {
        margin-top: 5%;
    }
}


/* .dark .logo use{
    fill: #ffffff;
}

.light .logo use{
	fill: #505050
} */

.dark .closeIcon use {
    fill: #ffffff;
}

.light .closeIcon use {
    fill: #505050
}

/* Social Media
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.social-media.home {
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 40px;
    width: 99%;
    left: 0;
    z-index: 1;
}

.social-media li {
    display: inline-flex !important;
    margin: 0;
    margin-right: 30px;
    line-height: 25px;
    font-size: 18px;
    vertical-align: middle;
    font-family: Nexa-light;
}

.dark .social-media li {
    color: #8a95a2;
}

.light .social-media li {
    color: #fff;
}

.social-media li:last-child {
    margin-right: 0
}

.social-media .icon {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.dark .social-media .icon use {
    fill: #5c6572;
}

.light .social-media .icon use {
    fill: #7a7877;
}

.dark .social-media .icon:hover use {
    fill: #8a95a2;
}

.light .social-media .icon:hover use {
    fill: #505050;
}


@media (min-width: 320px) {

    .social-media.home.hidden-xs{
        display: none;
    }

    .social-media.home.visible-xs{
        display: block;
        bottom: unset;
        padding-left: 25%;
        width: unset;
        margin-top: 10%;
    }

    .social-media.visible-xs li{
        line-height: 1.5;
        text-align: left;
    }

    .social-media li span {
        display: inline-flex;
        margin-bottom: 10px;
    }
    .social-media li span:not(:first-of-type) {
        padding-left: 40px;
    }


    .social-media.visible-xs li{
    }
    .social-media {
        text-align: left;
        /* padding-left: 20px; */
        /* width: 80% !important; */
    }
    .social-media li {
        font-size: 14px;
        padding: 15px 0;
    }
}

@media (min-width: 480px) {
    .social-media.visible-xs{
        padding-left: 30%;
    }
}

@media (min-width: 600px) {
    .social-media.visible-xs{
        padding-left: 35%;
    }
}

@media (min-width: 768px) {
    .social-media.home.visible-xs{
        display: none;
    }
    .social-media.home.hidden-xs{
        display: block;
    }
    .social-media {
        text-align: center !important;
    }
    .social-media li {
        font-size: 18px;
        padding: unset;
    }
    .social-media li>img {
        padding: 0 10px;
        width: 25px;
        height: 25px;
    }
}

/* Overlay
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 0;
    transition: background .5s, z-index 0s .5s;
}

.overlay.on {
    z-index: 1;
    transition: background .5s, z-index 0s;
}

.dark .overlay.on {
    background: rgba(32, 46, 60, 0.9);
}

.light .overlay.on {
    background: rgba(255, 255, 255, 0.9);
}

/* Particles
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

#particles-js canvas {
    position: fixed;
}

/* Form
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

.form-success-description {
    display: none;
    font-family: Nexa-bold;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #646f7c;
    font-size: 14px;
}

span.error {
    display: block;
    color: #e73e3e;
    font-size: 11px;
    margin-top: -10px;
}

input[type="email"] {
    /* width: 40%; */
    /* height: 40px; */
    /* padding-right: 50px; */
    border: unset;
    border-radius: unset;
    -webkit-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    color: #e3e3e3;
}

input[type="submit"] {
    /* margin-left: -50px; */
    height: 40px;
    width: 10%;
    font-family: Nexa-light;
    text-transform: capitalize;
    background: blue;
    color: white;
    border: unset;
    border-radius: unset;
    -webkit-appearance: none;
    -webkit-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
}


@media (min-width: 320px) {
    input[type="email"] {
        width: 45%;
        height: 40px;
        margin-bottom: unset;
    }

    input[type="submit"] {
        padding: 0 10px;
        line-height: unset;
        font-size: unset;
    }

}

@media (min-width: 575px) {

    input[type="email"] {
        width: 40%;
        height: 40px;
        margin-bottom: unset;
    }

    input[type="submit"] {
        line-height: unset;
        font-size: unset;
    }
}


@media (min-width: 768px) {
    input[type="email"] {
        width: 40%;
        height: 40px;
        margin-bottom: unset;
    }

    input[type="submit"] {
        line-height: unset;
        font-size: unset;
    }

}


/* 1024
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

@media (max-width: 1100px) {
    .social-media {
        text-align: left;
        /* padding-left: 20px; */
        /* width: 80% !important; */
    }
    .social-media li {
        font-size: 16px;
        padding: 15px 0;
    }
}

/* 973
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

@media (max-width: 973px) {
    content {
        width: 100%;
    }
    .social-media {
        text-align: left;
        /* padding-left: 20px; */
        /* width: 80% !important; */
    }
    .social-media li {
        display: block !important;
        line-height: 20px;
        font-size: 20px;
        padding: 5px 0;
        margin: 0 auto;
    }

    .social-media li>img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 768px) {
    .social-media li>img {
        width: 20px;
        height: 20px;
        padding-right: 10px;
    }
    content {
        width: 100%;
        padding: 0 0 100px;
    }
}


/* 575
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */

@media (max-width: 575px) {
    /* .wrapper{
        align-items: unset;
        padding: 75px 0 50px 0;
    }
    content {
        width: 100%;
    }
    .social-media.home {
        width: unset;
        text-align: left;
        padding-left: 20%;
    }
    .social-media {
        text-align: left; */
        /* padding-left: 20px;
        width: 80% !important; */
    /* }


    .social-media li {
        display: block !important;
        line-height: 20px;
        font-size: 20px;
        padding: 5px 0;
        margin: 0 auto;
    }
    .social-media li>img {
        width: 20px;
        height: 20px;
        padding-right: 20px;
    } */
}


/*
@media screen and (min-width: 768px) , screen and (max-height: 800px) {
    .wrapper{
        padding:
    }
}
 */



/* 480
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
/*
@media (max-width: 480px) {
    content{
        width: 80%;
    }

    .social-media.home {
        text-align: left;
        padding-left: 25%;
    }
    .social-media {
        text-align: left;
    }
    .social-media li.hidden-xs {
        display: none !important;
    }
    .social-media li span {
        display: inline-flex;
        margin-bottom: 10px;
    }
    .social-media li span:not(:first-of-type) {
        padding-left: 40px;
    }
    .social-media li {
        display: block !important;
        line-height: 20px;
        font-size: 20px;
        padding: 5px 0;
        margin: 0 auto;
    }
    .social-media li>img {
        width: 20px;
        padding-right: 20px;
    }
} */
.swal-button{
    padding: 0 30px;
}
